@import url('https://fonts.google.com/specimen/Rubik');
@import 'variables.scss';

body {
  font-family: 'Rubik', sans-serif;
  color: var(--font-color);
  background: var(--very-dark-blue);
}

.container{
  display: grid;
  height: 60vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, .7fr);
  grid-template-areas: 
  "profile data data data"
  "profile data data data";
  grid-gap: 1rem;
  padding: 120px;
}

.card-wrapper{
  height: 90%;
}

.card{
  border-radius: 10px 10px 0px 0px;

  .data-image{
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  &.Work{
    background-color: var(--work);
    height: 30%;
  }

  &.Play{
    background-color: var(--play);
    height: 30%;
  }

  &.Study{
    background-color: var(--study);
    height: 30%;
  }
  
  &.Exercise{
    background-color: var(--exercise);
    height: 30%;
  }

  &.Social{
    background-color: var(--social);
    height: 30%;
  }

  &.Self{
    background-color: var(--self-care);
    height: 30%;
  }

  &.profile{
    background-color: var(--desaturated-blue);
    grid-area: profile;
    padding: 30px;
    border-radius: 10px;
    height: 50%;
    position: relative;
    z-index: 1;

    .profile-image{
      border: 2px solid white;
      border-radius: 50%;
      width: 60px;
      margin-bottom: 30px;
    }

    .name{
      font-size: 30px;
    }

    .label{
      font-size: 12px;
    }
  }
}

.stacked-card{
  border-radius: 10px;
  background-color: var(--dark-blue);
  margin-top: -10px;
  height: 90%;
  position: relative;
  z-index: 1;
  
  .data{
    padding: 20px;

    .first-data{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;

      .title{
        font-size: 16px;
        margin-bottom: 20px;
      }

      .icon{
        text-align: right;
      }
    }

    .second-data{
      .current{
        font-size: 36px;
        margin-bottom: 10px;
      }
  
      .previous{
        font-size: 14px;
      }
    }
  }
}

.stacked-profile{
  border-radius: 10px;
  background-color: var(--dark-blue);
  margin-top: -10px;
  height: 26%;
  padding: 10px 10px 36px 22px;

  .time{
    opacity: 0.5;
    color: white;
    text-decoration: none;    
    position: relative;
    z-index: 1;
    cursor: pointer;

    &.active{
      opacity: 1;
    }
  }
}

.profile-wrapper{
  grid-area: profile;
}

@media only screen and (max-width: 375px){
  .container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "profile"
    "data"
    "data"
    "data"
    "data"
    "data"
    "data";
    grid-gap: .025rem;
    padding: 1px;
  }
  
  .stacked-card{
    margin-top: -6px;
    height: 70%;
    
    .data{
      .first-data{
        .title{
          font-size: 14px;
          margin-bottom: 10px;
          margin-right: 20px;
        }
      }

      .second-data{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .current{
          font-size: 24px;
          margin-bottom: 20px;
        }
    
        .previous{
          font-size: 13px;
          text-align: right;
          padding-top: 5px;
        }
      }
    }
  }

  .card{
    border-radius: 10px 10px 0px 0px;

    &.profile{
      height: 45%;
      padding: 20px;

      .profile-image{
        width: 60px;
        margin-bottom: 30px;
      }

      .name{
        font-size: 20px;
        margin-left: 90px;
      }

      .label{
        margin-top: -80px;
        font-size: 12px;
        margin-left: 90px;
      }
    }
  }

  .stacked-profile{
    display: flex;
    height: 30%;
    padding: 5px;

    .time{
      text-align: center;
      flex: 1;
    }
  }

  .profile-wrapper{
    margin-bottom: 20px;
  }
}